# Dependencies
**/node_modules/
node_modules/

# Expo
.expo/
.expo-shared/
dist/
build/
web-build/

# Native folders
android/
ios/
**/android/build/
**/ios/build/

# Git
.git/
.gitignore

# Environment
.env
.env.*
.env.local

# IDE
.vscode/
.idea/

# Build files
*.apk
*.aab
*.ipa

# Misc
.DS_Store
Thumbs.db